<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Conversion Helper</title>
    
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body>
    <div class="main-container">
        <div class="container1a"></div>
        <div class="container1">
            <h1>KNOW THE SECTION</h1>
        </div>
    <div class="container2">
        <form method="post">
            <div class="form-item">
                <!-- <label for="code_type">Conversion Type:</label>
                <select id="code_type" name="code_type" class="form-control" required>
                    <option value="">Select Conversion Type</option>
                    <option value="ipc to bns">IPC to BNS</option>
                    <option value="bns to ipc">BNS to IPC</option>
                </select> -->
                <div class="input1">
                <label for="section">IPC:</label>
                <input type="text" id="section" name="section" class="form-control" placeholder="Enter section number" required>
                <label for="section">BNS:</label>
                <input type="text" id="section" name="section" class="form-control" placeholder="Enter section number" required>
                </div>
                <button type="submit" >Convert</button>
                <button type="reset">Clear</button>
            </form>
        </div>
    </div>
        <div class="response-container">
            <div class="response">
            {% if response %}
                {% if response == 'This section has been deleted' %}
                    <div class="alert alert-warning">{{ response }}</div>
                {% else %}
                    <p>Result: {{ response.result }}</p>
                    {% if response.bns_content %}
                        <h3>BNS Content</h3>
                        <p>{{ response.bns_content }}</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        </div>
    </div>

</body>
</html>
