<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNOW THE SECTION</title>
    
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body>
    <div class="main-container">
        <div class="container1a"></div>
        <div class="container1">
            <h1>KNOW THE SECTION</h1>
        </div>
        <div class="container2">
            <form id="conversion-form" method="post">
                <div class="form-item">
                    <div class="input1">
                        <label for="ipc">IPC:</label>
                        <input type="text" id="ipc" name="ipc" class="form-control" placeholder="Enter section number">
                        <label for="bns">BNS:</label>
                        <input type="text" id="bns" name="bns" class="form-control" placeholder="Enter section number">
                    </div>
                    <button type="submit">Convert</button>
                    <button type="reset" id="clear-button">Clear</button>
                </div>
            </form>
        </div>
        <div class="response-container">
            <button id="read-more-button" >Read More</button>
            <div class="response" id="response" style="display: none;">
                <!-- Response content will be inserted here -->
            </div>
        </div>
    </div>

    <script>
        document.getElementById('conversion-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const ipcSection = document.getElementById('ipc').value.trim();
            const bnsSection = document.getElementById('bns').value.trim();
            let codeType = '';

            if (ipcSection) {
                codeType = 'ipc to bns';
            } else if (bnsSection) {
                codeType = 'bns to ipc';
            } else {
                alert('Please enter either IPC or BNS section number.');
                return;
            }

            const sectionNumber = ipcSection || bnsSection;

            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'section': sectionNumber,
                    'code_type': codeType,
                })
            })
            .then(response => response.json())
            .then(data => {
                if (codeType === 'ipc to bns' && data.result) {
                    const res = data.result.replace(/<para>/g, '\n');
                    document.getElementById('bns').value = res;
                } else if (codeType === 'bns to ipc' && data.result) {
                    const res = data.result.replace(/<para>/g, '\n');
                    document.getElementById('ipc').value = res;
                }
                if (data.bns_content) {
                    const formattedContent = data.bns_content.replace(/<para>/g, '\n');
                    document.getElementById('response').innerText = formattedContent;
                    document.getElementById('response').style.display = 'none';

                }
            })
            .catch(error => console.error('Error:', error));
        });

        document.getElementById('clear-button').addEventListener('click', function() {
            document.getElementById('ipc').value = '';
            document.getElementById('bns').value = '';
            document.getElementById('response').innerText = '';
            document.getElementById('response').style.display = 'none';
      
        });

        document.getElementById('read-more-button').addEventListener('click', function() {
            const responseElement = document.getElementById('response');
            if (responseElement.style.display === 'none') {
                responseElement.style.display = 'block';
                document.getElementById('read-more-button').innerText = 'Read Less';
            } else {
                responseElement.style.display = 'none';
                document.getElementById('read-more-button').innerText = 'Read More';
            }
        });
    </script>   
</body>
</html>
